<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskChat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chat.css') }}">
    
</head>

<body>
    <h1>FlaskChat</h1>
    <div class="chat_areas">
        <fieldset class="left fs">
            <legend>Public Rooms</legend>
            {% for room in public_rooms %}
                <div class="public_room">
                    <p>{{room.name}}</p>
                    <button onclick="joinNewRoom({{room.id}})" class="btn">Join</button>
                </div>
            {% endfor %}
        </fieldset>
        <fieldset class="chat fs">
            <legend>Current Room: <span id="current_room"></span></legend>
            <div id="current_chat">
                <p>Join at least one room and then select it from the right</p>
            </div>
        </fieldset>
        <div class="right">
            <fieldset class="joined fs" id="rooms_joined">
                <legend>Rooms Joined</legend>
                {% for room in logged_user.joined_rooms  %}
                    <div class="joined_room" id="joined{{room.id}}">
                        <p class="room_select" onclick="getHistory({{room.id}})"><span id="newFor{{room.id}}" class="unreads"></span> {{room.name}} </p>
                        <button onclick="leaveRoom({{room.id}})" class="btn">Leave</button>
                    </div>
                {% endfor %}
            </fieldset>
            <fieldset class="invites fs">
                <legend>Rooms Invites</legend>
            </fieldset>
        </div>
    </div>
    <form class="add_message" onsubmit="send(event)">
        <input type="text" name="message" id="message" placeholder="message">
        <button class="btn">Send</button>
    </form>
    <div class="nav">
        <p>Logged in as: {{logged_user.username}}</p>
        <form action="/my_rooms">
            <button class="btn">My Rooms</button>
        </form>
        <form action="/users/logout">
            <button class="btn">Log Out</button>
        </form>
    </div>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>

</html>